



@media (max-width: 570px) {

.menu__btn {
    display: none;
    width: 27px;
    height: 27px;
    border: none;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .menu__btn span {
    height: 2px;
    background-color: #47b47d;
    width: 100%;
  }
  
  
  
  .inner__header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo__img {
    width: 100%;
    max-width: 131px;
  }
  
  .logo__mobile-img {
    display: none;
  }
  
  .menu__list {
    display: flex;
    gap: 44px;
  }
  
  .header__items {
    display: flex;
    gap: 15px;
  }
  
  .header__search {
    position: relative;
    border: 1px solid var(--grey);
    border-radius: var(--br-5xl);
    width: 34px;
    height: 34px;
  }
  
  .header__search-img {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }
  
  
  .header__user {
    position: relative;
    border: 1px solid var(--grey);
    border-radius: var(--br-5xl);
    width: 34px;
    height: 34px;
  }
  
  .header__user-img {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }
  
  .header__cart {
    display: flex;
    gap: 10px;
    position: relative;
    border: 1px solid var(--grey);
    border-radius: var(--br-5xl);
    width: 113px;
    height: 34px;
  }
  
  
  .header__cart-description {
    position: absolute;
    top: 45%;
    left: 45%;
    translate: -70% -50% ;
  }
  
  .header__cart-text {
    font-family: var(--font-source-sans-pro);
    line-height: 18px;
    color: var(--black);
  }
  
  
  .header__cart-btn {
    position: absolute;
    top: 50%;
    left: 75%;
    translate: -50% -50%;
  }
  
  .header__cart-img {
    width: 18px;
    height: 18px;
  }
  
  .header__cart-box {
    width: 12px;
    height: 12px;
    background-color: var(--red);
    position: absolute;
    top: 50%;
    left: 80%;
    translate: -30% -90%;
    border-radius: var(--br-81xl);
  }
  
  .header__cart-number {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: 8px;
    line-height: 12px;
    color: var(--gray-scale-white);
  }
  
  /*category*/
  
 
    
  
  .catalog {
    padding: 29px 0px 69px;
  }
  

  
  
  .catalog__category-text {
    color: #868686;
    margin-bottom: 20px;
  }
  
  
  
  .catalog__category-sizes {
    margin-bottom: 25px;
  }
  
  
  .catalog__sizes {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .catalog__sizes-box {
    border: 1px solid var(--red);
    padding: 10px 32px;
    border-radius: var(--br-81xl);
  }
  
  .catalog__sizes-numbers {
    color: var(--black);
  }
  
  .catalog__minus {
    width: 10px;
  }
  
  
  
  
  
  .catalog__category-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 15px;
  }
  
  .catalog__choose:not(:last-child) {
    margin-bottom: 10px;
  }
  
  #category {
    appearance: none;
    border: 1px solid #A0A0A0;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    margin-right: 16px;
    cursor: pointer;
  }
  
  #category:checked:before{
    content:'\2713'; 
    background: blue; 
    width:100%; 
    height:100%; 
    top:0;
    left:0;
    display:flex; 
    align-items:center; 
    justify-content:center; 
    color:var(--gray-scale-white); 
    font-weight: 700;
  }
  
  .catalog__text {
    font-size: 18px;
    line-height: 27px;
    color: #222222;
  }
  
}
  
  
  
  
  
  
  
@media (max-width: 570px) {

   
      /*category*/
      
     
      .catalog {
        padding: 29px 0px 69px;
      }
      
    
      
      
      .catalog__category-text {
        color: #868686;
        margin-bottom: 20px;
      }
      
      
      
      .catalog__category-sizes {
        margin-bottom: 25px;
      }
      
      
      .catalog__sizes {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      
      .catalog__sizes-box {
        border: 1px solid var(--red);
        padding: 10px 32px;
        border-radius: var(--br-81xl);
      }
      
      .catalog__sizes-numbers {
        color: var(--black);
      }
      
      .catalog__minus {
        width: 10px;
      }
      
      
      
      
     
      
      .catalog__category-title {
        position: relative;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        padding-left: 37px;
        margin-bottom: 15px;
      }

      .catalog__category-title::before{
        position: absolute;
         content: "";
         right: 90%;
         top: 50%;
         background-image: url(../images/arrow-back.png);
         background-repeat: no-repeat;
         width: 24px;
         height: 24px;
         translate: -115% -50%;
      }
      
      .catalog__choose:not(:last-child) {
        margin-bottom: 10px;
      }
      
      #category {
        appearance: none;
        border: 1px solid #A0A0A0;
        width: 18px;
        height: 18px;
        border-radius: 3px;
        margin-right: 16px;
        cursor: pointer;
      }
      
      #category:checked:before{
        content:'\2713'; 
        background: blue; 
        width:100%; 
        height:100%; 
        top:0;
        left:0;
        display:flex; 
        align-items:center; 
        justify-content:center; 
        color:var(--gray-scale-white); 
        font-weight: 700;
      }
      
      .catalog__text {
        font-size: 18px;
        line-height: 27px;
        color: #222222;
      }
      
    }
      
      
      
      
      
      
      
     